* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 18px;
}

.wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/bg.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-evenly;
}

.section_side {
  width: 28%;
  height: 100%;
  background-color: #000;
}

.section_middle {
  width: 44%;
  height: 100%;
  background-color: #FFF;
  margin: 0 4%;
}
