* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 18px;
  /*background-color: #000;*/
}
.dv-border-box-7 .border-box-content{
  padding: 10px;
}

.wow {
  visibility: visible !important;
}

.wrap {
  width: 100vw;
  min-width: 360px;
  height: 100vh;
  overflow: hidden;
  /*background-image: url(../img/bj.jpg);*/
  /*filter: blur(5px);*/
  background-color: #000;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5%;
  transition: all 0.5s;
  /*transform: translateX(200px);*/
}

section {
  /*background-color: #202B47;*/
  /*background-color: rgba(32, 43, 71,0.6);*/
  background-color: transparent;
  border-radius: 4px;
  overflow: hidden;
  /*-webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;*/
  /*border-color: rgba(141, 39, 142, .75);*/
  /*-webkit-box-shadow: 0 0 7px rgba(87, 147, 243, 1);*/
  /*!* 设置3d环境 *!*/
  /*transform-style:preserve-3d;*/
  /*!*animation: play 10s linear infinite;*!*/
  /*transform: rotateY(-60deg);*/
  /*perspective: 800px;*/
  /*transition: all 0.6s linear;*/
}

section:hover {
  background-color: rgba(32, 43, 71, 0.5);
}

.section_margin {
  margin-bottom: 2%;
}

.section_side {
  width: 24%;
  height: 100%;
  padding-bottom: 0.5%;
  transition: all 0.5s;
}

.section_middle {
  width: 40%;
  height: 100%;
  margin: 0 0.5%;
  padding-bottom: 0.5%;
  transition: all 0.5s;
}

.section_middle_count {
  font-size: 24px !important;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section_middle_count span {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section_middle_count div:last-of-type {
  color: #b0becc;
  font-size: 14px;
  margin-top: 5px;
}

.common_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exampleLeft-appear {
  opacity: 0;
  transform: translateX(-1000px);
}

.exampleLeft-appear.exampleLeft-appear-active {
  transform: translateX(0px);
  opacity: 1;
}


.exampleRight-appear {
  opacity: 0;
  transform: translateX(1000px);
}

.exampleRight-appear.exampleRight-appear-active {
  transform: translateX(0px);
  opacity: 1;
}

.exampleTop-appear {
  opacity: 0;
  transform: translateY(-1000px);
}

.exampleTop-appear.exampleTop-appear-active {
  transform: translateY(0px);
  opacity: 1;
}

.exampleBottom-appear {
  opacity: 0;
  transform: translateY(1000px);
}

.exampleBottom-appear.exampleBottom-appear-active {
  transform: translateY(0px);
  opacity: 1;
}

@media screen and (max-width: 1499px) {
  .three_echarts {
    transition: all 0.5s;
    width: 0 !important;
    margin-left: 0 !important;
  }

  .three_echarts section {
    padding: 0 !important;
  }

  .bounceInDown {
    width: 100% !important;
  }
}

@media screen and (max-width: 1199px) {
  .section_side:first-of-type {
    width: 0 !important;
  }

  .section_side:first-of-type section {
    padding: 0 !important;
  }

  .section_middle {
    width: 60% !important;
  }

  .section_side:last-of-type {
    width: 40% !important;
  }
}

@media screen and (max-width: 967px) {
  .rotateInUpLeft {
    width: 0 !important;
    padding: 0 !important;
  }

  .fadeInUpBig {
    width: calc(100vw - 12px) !important;
  }
}

@media screen and (max-width: 748px) {
  .section_side:last-of-type {
    width: 0 !important;
    display: none;
  }

  .section_middle {
    width: 100% !important;
  }

  .fadeInUpBig {
    width: 100% !important;
  }
}

@media screen and (max-width: 479px) {
  .wrap {
    width: 100% !important;
    height: auto !important;
    display: block !important;
    overflow-x: hidden !important;
    min-width: 10px !important;
  }

  .three_echarts {
    transition: all 0.5s;
    width: 44% !important;
    margin-left: 1.3% !important;
  }

  .three_echarts section {
    padding: 10px !important;
  }

  .bounceInDown {
    width: 56%!important;
  }

  .section_side:first-of-type {
    width: 100% !important;
    height: 850px;
    margin-top: 1000px;
  }

  .section_side:first-of-type section {
    padding: 10px !important;
  }
  .bounceInDown .header {
    display: none;
  }

  .section_middle {
    width: 100% !important;
    height: 1000px;
    position: absolute;
    top: 0;
  }

  .section_side:last-of-type {
    width: 100% !important;
    height: 800px;
    display: block;
  }

  .rotateInUpLeft {
    width: 100% !important;
    padding: 10px !important;
  }

  .fadeInUpBig {
    width: 100% !important;
  }
}
