* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 18px;
  /*background-color: #000;*/
}

.wrap {
  width: 100vw;
  min-width: 360px;
  height: 100vh;
  overflow: hidden;
  /*background-image: url(../img/bj.jpg);*/
  /*filter: blur(5px);*/
  background-color: #000;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5%;
  transition: all 0.5s;
  /*transform: translateX(200px);*/
}

section {
  /*background-color: #202B47;*/
  /*background-color: rgba(32, 43, 71,0.6);*/
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
  border-color:rgba(141,39,142,.75);
  -webkit-box-shadow:0 0 7px rgba(87, 147, 243,1);
  /*!* 设置3d环境 *!*/
  /*transform-style:preserve-3d;*/
  /*!*animation: play 10s linear infinite;*!*/
  /*transform: rotateY(-60deg);*/
  perspective: 800px;
  transition: all 0.6s linear;
}

section:hover {
  background-color: rgba(32, 43, 71,0.5);
}

.section_margin{
  margin-bottom: 2%;
}

.section_side {
  width: 24%;
  height: 100%;
  padding-bottom: 0.5%;
  transition: all 0.5s;
}

.section_middle {
  width: 40%;
  height: 100%;
  margin: 0 0.5%;
  padding-bottom: 0.5%;
  transition: all 0.5s;
}

.section_middle_count{
  font-size: 24px !important;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.section_middle_count div:last-of-type {
  color: #b0becc;
  font-size: 14px;
  margin-top: 5px;
}

.common_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exampleLeft-appear {
  opacity: 0;
  transform: translateX(-1000px);
}

.exampleLeft-appear.exampleLeft-appear-active {
  transform: translateX(0px);
  opacity: 1;
}


.exampleRight-appear {
  opacity: 0;
  transform: translateX(1000px);
}

.exampleRight-appear.exampleRight-appear-active {
  transform: translateX(0px);
  opacity: 1;
}

.exampleTop-appear {
  opacity: 0;
  transform: translateY(-1000px);
}

.exampleTop-appear.exampleTop-appear-active {
  transform: translateY(0px);
  opacity: 1;
}

.exampleBottom-appear {
  opacity: 0;
  transform: translateY(1000px);
}

.exampleBottom-appear.exampleBottom-appear-active {
  transform: translateY(0px);
  opacity: 1;
}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 967px) {

}

@media screen and (max-width: 479px) {

}
